@using System.Globalization;
@inject IJSRuntime JSRuntime
@inject NavigationManager Nav

<footer class="footer mt-auto py-3">
    <div class="container" style="text-align:right;">
        <div class="row">
            <div class="col align-self-end col-5 form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">@localizer["Language"]</label>
                <div class="col-sm-10">
                    <select @bind="Culture" class="form-control form-control-sm">
                        @foreach (var culture in supportedCultures)
                        {
                            <option value="@culture">@culture.DisplayName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</footer>
@code {
    private CultureInfo[] supportedCultures = new[]
    {
        new CultureInfo("fr"),
        new CultureInfo("en"),
        new CultureInfo("nl"),
    };

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);

                Nav.NavigateTo(Nav.Uri, forceLoad: true);
            }
        }
    }
}
