@page "/"

<h1>Hello, Referee!</h1>

This is a Swiss Army Knife project to make it easier for national referees to manage their administration before and after their matches.

Project made with love by <a href="https://www.so.tech">Sense of Tech</a>
